In [1]:
import pandas as pd
from datetime import datetime

In [2]:
file = ['bitcoin', 'dow', 'euro_stoxx50', 'nasdaq', 'nikkei', 'oro', 'petroleo', 'shangai_stock_exchange', 'sp_500']
data = []
for i in file:
    data.append(pd.read_csv('./data/' + i + '.csv'))
file.insert(0, 'date')

In [3]:
for i in data:
    print(i.info(), '\n \n')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2193 entries, 0 to 2192
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     2193 non-null   object
 1   Cierre    2193 non-null   object
 2   Apertura  2193 non-null   object
 3   Máximo    2193 non-null   object
 4   Mínimo    2193 non-null   object
 5   Vol.      2193 non-null   object
 6   % var.    2193 non-null   object
dtypes: object(7)
memory usage: 120.1+ KB
None


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1125 entries, 0 to 1124
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     1125 non-null   object
 1   Cierre    1125 non-null   float64
 2   Apertura  1125 non-null   float64
 3   Máximo    1125 non-null   float64
 4   Mínimo    1125 non-null   float64
 5   Vol.      1125 non-null   object
 6   % var.    1125 non-null   object
dtypes: float64(4), object(3)
memory usage: 61.6+ KB
None


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1539 entries, 0 to 1538
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     1539 non-null   object
 1   Cierre    1539 non-null   object
 2   Apertura  1539 non-null   object
 3   Máximo    1539 non-null   object
 4   Mínimo    1539 non-null   object
 5   Vol.      1539 non-null   object
 6   % var.    1539 non-null   object
dtypes: object(7)
memory usage: 84.3+ KB
None


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1512 entries, 0 to 1511
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     1512 non-null   object
 1   Cierre    1512 non-null   float64
 2   Apertura  1512 non-null   float64
 3   Máximo    1512 non-null   float64
 4   Mínimo    1512 non-null   float64
 5   Vol.      1512 non-null   object
 6   % var.    1512 non-null   object
dtypes: float64(4), object(3)
memory usage: 82.8+ KB
None


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1494 entries, 0 to 1493
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     1494 non-null   object
 1   Cierre    1494 non-null   object
 2   Apertura  1494 non-null   object
 3   Máximo    1494 non-null   object
 4   Mínimo    1494 non-null   object
 5   Vol.      1494 non-null   object
 6   % var.    1494 non-null   object
dtypes: object(7)
memory usage: 81.8+ KB
None


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1588 entries, 0 to 1587
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     1588 non-null   object
 1   Cierre    1588 non-null   object
 2   Apertura  1588 non-null   object
 3   Máximo    1588 non-null   object
 4   Mínimo    1588 non-null   object
 5   Vol.      1588 non-null   object
 6   % var.    1588 non-null   object
dtypes: object(7)
memory usage: 87.0+ KB
None


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1583 entries, 0 to 1582
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     1583 non-null   object
 1   Cierre    1583 non-null   float64
 2   Apertura  1583 non-null   float64
 3   Máximo    1583 non-null   float64
 4   Mínimo    1583 non-null   float64
 5   Vol.      1583 non-null   object
 6   % var.    1583 non-null   object
dtypes: float64(4), object(3)
memory usage: 86.7+ KB
None


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1434 entries, 0 to 1433
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     1434 non-null   object
 1   Cierre    1434 non-null   float64
 2   Apertura  1434 non-null   float64
 3   Máximo    1434 non-null   float64
 4   Mínimo    1434 non-null   float64
 5   Vol.      1434 non-null   object
 6   % var.    1434 non-null   object
dtypes: float64(4), object(3)
memory usage: 78.5+ KB
None


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1511 entries, 0 to 1510
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     1511 non-null   object
 1   Cierre    1511 non-null   object
 2   Apertura  1511 non-null   object
 3   Máximo    1511 non-null   object
 4   Mínimo    1511 non-null   object
 5   Vol.      1511 non-null   object
 6   % var.    1511 non-null   object
dtypes: object(7)
memory usage: 82.8+ KB
None

In [4]:
def price(data):
    try:
        amount = [float(i.replace(',','')) for i in data.Cierre]
        df = pd.DataFrame({'date': pd.to_datetime(data.Fecha),
                      'amount': amount})
    except:
        df = pd.DataFrame({'date':pd.to_datetime(data.Fecha),
                      'amount': data.Cierre.astype('float')})
    return df

def variance(data):
    var = [float(i.replace('%','')) for i in data.iloc[:,6]]
    df = pd.DataFrame({'date': pd.to_datetime(data.Fecha),
                      'var': var})
    return df

def generate_df(l, names, ind):
    inner = pd.merge(l[0], l[1], how ='inner', on = 'date', left_on = None, right_on = None,
         left_index = True, right_index = True, sort = True)
    for i in range(2, len(l)):
        inner = pd.merge(inner, l[i], how ='inner', on = 'date', left_on = None, right_on = None,
                 left_index = True, right_index = True, sort = True)
    inner = pd.DataFrame(inner)
    inner.columns = names
    for i in range(1, len(names)):
        inner.rename(columns = {names[i]: names[i] + ind}, inplace = True)
    return inner

In [5]:
amount = []
var = []
for i in data:
    amount.append(price(i))
    var.append(variance(i))

In [6]:
amount[0].head(5)

        date   amount
0 2021-01-01  29359.9
1 2020-12-31  28949.4
2 2020-12-30  28868.7
3 2020-12-29  27376.0
4 2020-12-28  27057.8

In [7]:
var[0].head(5)

        date   var
0 2021-01-01  1.42
1 2020-12-31  0.28
2 2020-12-30  5.45
3 2020-12-29  1.18
4 2020-12-28  3.03

In [8]:
for i in amount:
    print('max: ', i.date.max(), '\t min: ', i.date.min())

max:  2021-01-01 00:00:00 	 min:  2015-01-01 00:00:00
max:  2020-12-31 00:00:00 	 min:  2015-01-04 00:00:00
max:  2020-12-31 00:00:00 	 min:  2015-01-04 00:00:00
max:  2020-12-31 00:00:00 	 min:  2015-01-04 00:00:00
max:  2020-12-30 00:00:00 	 min:  2015-01-04 00:00:00
max:  2021-01-01 00:00:00 	 min:  2015-01-01 00:00:00
max:  2020-12-31 00:00:00 	 min:  2015-01-01 00:00:00
max:  2020-12-31 00:00:00 	 min:  2015-01-04 00:00:00
max:  2020-12-31 00:00:00 	 min:  2015-01-04 00:00:00

In [9]:
amount = generate_df(amount, file, '_am')
amount.head()

,date,bitcoin_am,dow_am,euro_stoxx50_am,nasdaq_am,nikkei_am,oro_am,petroleo_am,shangai_stock_exchange_am,sp_500_am
0,2021-01-01,29359.9,55.50,3552.64,132.74,27444.17,1901.6,48.52,4.28,3756.07
1,2020-12-31,28949.4,55.47,3571.59,130.14,27568.15,1895.1,48.40,4.18,3732.04
2,2020-12-30,28868.7,54.33,3581.37,129.14,26854.03,1893.4,48.00,4.13,3727.04
3,2020-12-29,27376.0,54.29,3575.41,128.85,26656.61,1882.9,47.62,4.14,3735.36
4,2020-12-28,27057.8,54.79,3543.28,128.62,26668.35,1880.4,48.23,4.13,3703.06

In [10]:
var = generate_df(var, file, '_var')
var.head()

,date,bitcoin_var,dow_var,euro_stoxx50_var,nasdaq_var,nikkei_var,oro_var,petroleo_var,shangai_stock_exchange_var,sp_500_var
0,2021-01-01,1.42,0.05,-0.53,2.00,-0.45,0.34,0.25,2.17,0.64
1,2020-12-31,0.28,2.10,-0.27,0.77,2.66,0.09,0.83,1.23,0.13
2,2020-12-30,5.45,0.07,0.17,0.23,0.74,0.56,0.80,-0.29,-0.22
3,2020-12-29,1.18,-0.91,0.91,0.18,-0.04,0.13,-1.26,0.31,0.87
4,2020-12-28,3.03,0.07,0.11,0.52,0.54,-0.15,0.23,1.00,0.35

In [11]:
print(var.shape)
print(amount.shape)

(1125, 10)
(1125, 10)

In [12]:
var.to_csv("variables.csv",index=False)